<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="OUTPUT_STRING" value="Hello World"/>
    <add key="TEST_OUTPUT_STRING_WRONG" value="World Hello"/>
    <add key="TEST_KEY" value="TEST_VALUE"/>
    <add key="TEST_KEY_EMPTY" value=""/>
  </appSettings>
</configuration>